<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.se.talktodeaf" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="project.se.application.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="project.se.main.MainActivity"
            android:label="พูดผ่านภาษามือ"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="project.se.ui.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="project.se.action.ActionCategory"
            android:label="@string/title_activity_action_category"
            android:theme="@style/ActionTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="project.se.speak.SpeakCategory"
            android:label="@string/title_activity_speak_category"
            android:theme="@style/SpeakTheme">
        </activity>
        <activity
            android:name="project.se.game.Game"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:name="project.se.game.wordgame.WordGame"
            android:label="@string/title_activity_word_game"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="project.se.game.wordgames.WordsGame"
            android:label="@string/title_activity_video_game" >
        </activity>
        <activity
            android:name="project.se.information.Information"
            android:label="@string/title_activity_information" >
        </activity>
        <activity
            android:name="project.se.action.ActionVocabulary"
            android:label="@string/title_activity_action_vocabulary"
            android:theme="@style/ActionTheme" >
        </activity>
        <activity
            android:name="project.se.action.ActionVocabularyDetail"
            android:label="@string/title_activity_action_vocabulary_detail"
            android:theme="@style/ActionTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="project.se.speak.SpeakVocabulary"
            android:label="@string/title_activity_speak_vocabulary"
            android:theme="@style/SpeakTheme" >
        </activity>
        <activity
            android:name="project.se.speak.SpeakVocabularyDetail"
            android:label="@string/title_activity_speak_vocabulary_detail"
            android:theme="@style/SpeakTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="project.se.information.book.BookInfo"
            android:label="@string/title_activity_book_info"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name="project.se.information.book.BookDetail"
            android:label="@string/title_activity_book_detail"
            android:theme="@style/BookTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="project.se.information.place.PlaceInfo"
            android:label="@string/title_activity_place_info"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name="project.se.information.place.PlaceDetail"
            android:label="@string/title_activity_place_detail"
            android:theme="@style/PlaceTheme"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBgZQmWB_ZPqPHp2U1SPt6Zjx463vqcRpo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="project.se.download.ActionDownload.ActionCategoryDownload"
            android:label="@string/title_activity_actiondownload" >
        </activity>
        <activity
            android:name="project.se.download.ActionDownload.ActionVocabularyDownload"
            android:label="@string/title_activity_actiondownload" >
        </activity>
        <activity
            android:name="project.se.main.Setting"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="project.se.download.Download"
            android:label="@string/title_activity_download" >
        </activity>
        <activity
            android:name="project.se.download.SpeakDownload.SpeakCategoryDownload"
            android:label="@string/title_activity_speakdownload" >
        </activity>
        <activity
            android:name="project.se.download.SpeakDownload.SpeakVocabularyDownload"
            android:label="@string/title_activity_speakdownload" >
        </activity>
    </application>

</manifest>
