<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.se.talktodeaf" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="project.se.main.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="project.se.main.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="project.se.action.ActionCategory"
            android:label="@string/title_activity_action_category" >
        </activity>
        <activity
            android:name="project.se.speak.SpeakCategory"
            android:label="@string/title_activity_speak_category" >
        </activity>
        <activity
            android:name="project.se.game.Game"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:name="project.se.information.Information"
            android:label="@string/title_activity_information" >
        </activity>
        <activity
            android:name="project.se.action.ActionVocabulary"
            android:label="@string/title_activity_action_vocabulary" >
        </activity>
        <activity
            android:name="project.se.action.ActionVocabularyDetail"
            android:label="@string/title_activity_action_vocabulary_detail" >
        </activity>
        <activity
            android:name="project.se.speak.SpeakVocabulary"
            android:label="@string/title_activity_speak_vocabulary" >
        </activity>
        <activity
            android:name="project.se.speak.SpeakVocabularyDetail"
            android:label="@string/title_activity_speak_vocabulary_detail" >
        </activity>
    </application>

</manifest>
